.container{
    padding: 50px;
}
input[type="number"]{
    width: 20%;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.btn-danger{
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding:16px 12px;
    font-size: 14px;
    border-radius: 4px;


}
.btn {
    display: inline-block;
    padding: 16px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    font-size: 14px;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-warning {
    color: #fff;
    font-size: 14px;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.cart-link{
    width: 100%;
    text-align: right;
    display: block;
    font-size: 22px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
* {

    box-sizing: border-box;
}
.col-lg-4{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}
.col-lg-4{width:33.33333333%}
.caption{padding-top:8px;padding-bottom:8px;color:#777;text-align:left}
.caption{padding:9px;color:#333}
.list-group-item-heading,button.list-group-item .list-group-item-heading{color:#333}
.list-group-item-heading{margin-top:0;margin-bottom:5px}
.row{margin-right:-14px;margin-left:-15px}
.row:after,.row:before{display:table;content:" "}
.row:after{clear:both}.center-block{display:block;margin-right:auto;margin-left:auto}.pull-right{float:right!important}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
}
.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.h4, h4 {
    font-size: 18px;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}